:root {
    /* This styling will be applied globally */
    --floral-white: #fffcf2ff;
    --pale-silver: #ccc5b9ff;
    --black-olive: #403d39ff;
    --eerie-black: #202022ff;
    --cerise: #da4167ff;


    /* Landing page */

    position: relative;
    width: 1440px;
    height: 3175px;

    background: var(--eerie-black);

}

img {
    border-radius: 10px;
}

.vyper {
    /* VYPER */

    position: absolute;
    left: 1150px;
    top: 25px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    color: var(--cerise);

}

.basic {
    background: var(--eerie-black);
    color: white;
    font-family: Futura;
    font-style: normal;
    text-decoration: none;
}

.header-right {
    position: absolute;
    width: 1122px;
    height: 102px;
    left: 156px;
    top: 760px;
    
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    letter-spacing: 0.05em;
    text-align: right;
    background: var(--eerie-black);
    color: #FFFFFF;
}

.header-left-hi {
    position: absolute;
    left: 166px;
    top: 215px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-align: left;
    background: var(--eerie-black);

    color: #FFFFFF;

}

.header-left-lo {
    position: absolute;
    left: 150px;
    top: 1050px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-align: left;
    background: var(--eerie-black);

    color: #FFFFFF;

}


.spotifylist {

    position: absolute;
    width: 600px;
    height: 372px;
    left: 678px;
    top: 250px;

}

.linevert {
    position: absolute;
    height: 420px;
    width: 4px;
    left: 625px;
    top: 208px;
}

.linehori {
    position: absolute;
    width: 420px;
    height: 4px;
    left: 150px;
    top: 270px;
}

.buttonside {
    position: absolute;
    left: 150px;
    font-family: Futura;
    font-style: normal;
    background: var(--eerie-black);

}

.break {
    padding: 20px 100px;
    background: var(--eerie-black);  
}

.cloud1 {
    position: absolute;
    width: 407px;
    height: 228px;
    left: 120px;
    top: 620px;
}

.cloud2 {
    position: absolute;
    width: 407px;
    height: 228px;
    left: 750px;
    top: 600px;
}

.stereo {

    position: absolute;
    width: 159px;
    height: 285px;
    left: 1043px;
    top: 950px;
}

.console {
    position: absolute;
    left: 700px;
    background: var(--eerie-black); 

}

.demo-button {
    position: absolute;
    font-family: Futura;
    font-style: normal;
    background: var(--eerie-black);
    left: 700px;
}

.header-left-download {
    position: absolute;
    width: 800px;
    height: 50px;
    left: 150px;
    top: 200px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-align: left;
    background: var(--eerie-black);

    color: #FFFFFF;

}

.desc-left {
    position: absolute;
    left: 150px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.05em;
    background: var(--eerie-black);
    
    color: #FFFFFF;

}

.end-notes {
    position: absolute;
    left: 800px;

    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
    background: var(--eerie-black);
    text-align: right;
    
    color: #CBCBCB;

}

.steps {
    position: absolute;
    left: 150px;
    width: 500px;
    
    font-family: Futura;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.05em;
    
    color: #FFFFFF;
}
